#textBody {         
    border-radius: 20%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6B0606; 

}
#textBody {
    display: inline-block;
    padding-bottom: 0.25rem;
    

}

#textBody::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0D94D3;
    transition: width 0.90s ease-out;
    
}

#textBody:hover::before {
    width: 100%;
}

#textTop::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #0D94D3;
    transition: width 0.90s ease-out;
    
}
#textTop:hover::before {
    width: 100%;
}

.fa {
    
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background: #FFEBCD;
    color: rgb(7, 121, 121);
}

.fa:hover::before {
    opacity: 0.6;
    
       transition: width 0.90s ease-out;
}


